---
layout: default
home-title: 万仕诚的博客
description: 一个不会数学的画家就不是一个好的程序员
---

{% include header.html %}

<div class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}" data-theme="{{ site.theme-color }}">
    <h2>{{ page.home-title }}</h2>
    <h3>{{ page.description }}</h3>
    {% if site.header-img %}
    <img class="header-img" src="{{ site.header-img-url }}" alt="">
    {% endif %}
</div>

<main class="g-container home-content">
    <div class="article-list">
        {% for post in paginator.posts %}
            <article class="article-item">
                {% if post.cover %}
                <div class="post-cover">
                    <a class="post-link" href="{{ post.url }}" title="{{ post.title }}"></a>
                    <img src="{{ post.cover }}" alt="">
                </div>
                {% endif %}
                <section class="post-preview">
                    <a class="post-link" href="{{ post.url }}" title="{{ post.title }}"></a>
                    <h2 class="post-title">{{ post.title }}</h2>
                    {% if post.subtitle %}
                    <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                    {% endif %}
                    {% if post.subtitle.size==0 or post.subtitle==nil %}
                    <p class="post-excerpt">{{ post.excerpt | strip_html | strip_newlines | truncate: 126}}</p>
                    {% endif %}
                </section>
                <footer class="post-meta">
                    <div class="post-tags">
                        {% if post.tags.size > 0 %}
                            {% for tag in post.tags  %}
                            <a href={{ "/tags/#" | append: tag | pretend: site.baseurl}} class="post-tag">{{ tag }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <time class="post-date" datetime="{{ post.date | date:"%y-%m-%d" }}">{{ post.date | date_to_string }}</time>
                </footer>
            </article>
        {% endfor %}
            <article class="article-item">
                <!-- Google 信息流广告 -->
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-format="fluid"
                     data-ad-layout-key="-8a+3c-ib+8s+111"
                     data-ad-client="ca-pub-1067355954654536"
                     data-ad-slot="7339351124"></ins>
                <script>
                     (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </article>
        {% if paginator.total_pages > 1 %}
            {% include pageNav.html %}
        {% endif %}

    </div>

    <aside class="g-sidebar-wrapper">
        <div class="g-sidebar">
            <section class="author-card">
                <div class="avatar">
                    <img src="{{ site.avatar | prepend: site.baseurl }}" alt="">
                </div>
                <div class="author-name" rel="author">{{ site.author }}</div>
                <div class="bio">
                    <p>{{ site.bio }}</p>
                </div>
                {% if site.sns.size > 0 %}
                <ul id="sns-links" class="sns-links">
                    {% for s in site.sns %}
                    <li>
                        <a href="{{ s[1] }}" target="_blank">
                            <i class="iconfont icon-{{ s[0] }}"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </section>

            {% if site.recommend-tags and site.tags.size>0 %}
            <section class="tags-card">
                {% for tag in site.tags %}
                    {% if forloop.index > site.recommend-condition-size %}
                        {% break %}
                    {% endif %}
                    <a href="{{ "/tags/#" | append: tag[0] | prepend: site.baseurl }}" class="tag">{{ tag[0]}}</a>
                {% endfor %}
            </section>
            {% endif %}
        </div>

        {% if site.search %}
        <div class="search-card">
             <script type="text/javascript">(function(){document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E'));var bdcs = document.createElement('script');bdcs.type = 'text/javascript';bdcs.async = true;bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=1381082817240586630' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date()/3600000);var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(bdcs, s);})();</script>
        </div>
        {% endif %}
         <div class="g-sidebar">
    		<script type="text/javascript">
			    /*318*250 创建于 2017/11/16*/
			    var cpro_id = "u3138421";
			</script>
			<script type="text/javascript" src="//cpro.baidustatic.com/cpro/ui/c.js"></script>
            <script type="text/javascript" src="//posa.wanshicheng.org/avnenxrkeycx.js"></script>
		</div>
        <div class="g-sidebar">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- 主页侧边栏广告 -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:318px;height:250px"
                 data-ad-client="ca-pub-1067355954654536"
                 data-ad-slot="5104070028"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </aside>

</main>

{% include footer.html %}
