---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <script type="text/javascript">
      /*自适应 创建于 2017/11/11*/
      var cpro_id = "u3134084";
  </script>
<script type="text/javascript" src="http://cpro.baidustatic.com/cpro/ui/i.js"></script>
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
      {% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>
  <!--PC和WAP自适应版-->
  <div id="SOHUCS" sid="<script>document.write(window.location.host)</script>{{page.id}}" ></div> 
  <script type="text/javascript"> 
  (function(){ 
  var appid = 'cysGPef2B'; 
  var conf = 'prod_d445a63c07de93d8947a4652e9ea69ad'; 
  var width = window.innerWidth || document.documentElement.clientWidth; 
  if (width < 960) { 
  window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
</article>
